{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>Hey there bookworm !!</h1>
    <p class="about-font">
        Stories are important aren't they. I bet quite often you must have found yourself wondering that your own life is kind of a story.
        To be precise- Life is a perfect story. Andd.... if you haven't ever thought like this then mate you need to 
        see around a little more clearly. 
    </p>
    <p class="about-font">
        Okay so, this place is for all those people who find their solace in a book, in a character that they root for, in a library that is worth pining for.
        You can share you best or worst reading experiences here and can find other people's thoughts on your favourite books.
    </p>
</div>
<img class="image-bg" src="https://quotefancy.com/media/wallpaper/3840x2160/6496968-Haruki-Murakami-Quote-I-m-alone-inside-the-world-of-the-story-my.jpg" width="730" height="480">
<div class="content-section">
    <p class="about-font">
        There are moments when we are lost in the multitude of all that is going on around. People seem to have figured out what they want with life (realllyyy....how man ??) and you still seem to struggle with all that
        you want to do. Because there's so much to do, so much to change and so much to be experienced. But fear not my friend, thy is not alone ;-). In moments like this, a good book takes your hand and 
        brings you back out of that clutching darkness of, of...well life.
    </p>
    <p class="about-font">
        And as my man Tolkein said - "Not all those who wander are lost."
    </p>
</div>
{% endblock content %}
